# anything, anywhere starting with __
__*

# Local development
*.env
*.dev

# Apple
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# js
node_modules/
